{% extends "base.html" %}



{% block content %}
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Midterm</li>
      </ol>


      <div id="rickroll" class="row">
      </div>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/disco-socketio.js') }}"></script>




      <div class="row">
        <div class="col-4">
          <h1>Lights</h1>
          	<a href="#" class="btn btn-warning">On</a>
          	<a href="#" class="btn btn-warning">Off</a>
        </div>
        <div class="col-4">
          <h1>Disco</h1>
           	<a href="#" class="btn btn-warning">On</a>
          	<a href="#" class="btn btn-warning">Off</a>
        </div>
        <div class="col-4">
          <h1>Fog</h1>
				   	<a href="#" class="btn btn-warning">On</a>
          	<a href="#" class="btn btn-warning">Off</a>
        </div>
      </div>

      <div class="row">
      	<div class="col-12">
      		<h1>Sound Levels</h1>
      	</div>
      </div>
    </div>


  <script>
  	var socket;

  </script>
{% endblock%}
